.container{
    border: 2px solid rgb(178, 16, 16);
    box-shadow: 0 0 100px rgba(0,0,0,0.2); /*Box shadow*/
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;  
}
.profile-image img {
    width: 150px; /* adjust this as per your need */
    height: auto; /* keeps the aspect ratio intact */
}